{% extends "reviews/base.html" %}

{% block title %}
    <title>Book Details</title>
{% endblock %}

{% block  content %}
    <br>
    <h3>Book information</h3>
    {% if book.cover %}
        <img src="{{ book.cover.url }}">
    {% endif %}
    <br>
    <span class="text-info">Title: </span>
    <span>{{ book.title }}</span>
    <br>
    <span class="text-info">Publisher: </span>
    <span>{{ book.publisher }}</span>
    <br>
    <span class="text-info">Publication Date: </span>
    <span>{{ book.publication_date }}</span>
    <br>
    {% if book.sample %}
        <span class="text-info">Sample: </span>
        <span>
            <a href="{{ book.sample.url }}">Download</a>
        </span>
    {% endif %}
    <br>
    {% if not reviews %}
        <hr>
        {% if user.is_authenticated %}
            <p style="color: red">There're no reviews for the book.</p>
        {% endif %}
    {% else %}
        <span class="text-info">Overall Rating: </span>
        <span class="badge badge-primary badge-pill">{{ book_rating }}</span>
        <br>
        <h3>Review information</h3>
        <ul class="list-group">
            {% for review in reviews %}
                <li class="list-group-item">
                    <span class="text-info">Review Text: </span>
                    <span>{{ review.content }}</span>
                    <br>
                    <span class="text-info">Created On: </span>
                    <span>{{ review.date_created }}</span>
                    <br>
                    <span class="text-info">Edited On: </span>
                    <span>{{ review.date_edited }}</span>
                    <br>
                    <span class="text-info">Rating: </span>
                    <span>{{ review.rating }}</span>
                    <br>
                    <span class="text-info">Creator: </span>
                    <span>{{ review.creator }}</span>
                </li>
                <a href="{% url 'review_edit' book.pk review.pk %}">
                    <input type="submit" class="btn btn-primary" value="Edit Review">
                </a>
                <br>
            {% endfor %}
        </ul>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{% url 'review_create' book.pk %}">
            <input type="submit" class="btn btn-primary" value="Add Review">
        </a>
        <a href="{% url 'book_media' book.pk %}">
            <input type="submit" class="btn btn-primary" value="Add Media">
        </a>
    {% endif %}
{% endblock %}