{% extends "reviews/base.html" %}

{% block title %}
    {% if instance %}
        <title>Editing {{ model_type }} {{ instance }}</title>
    {% else %}
        <title>New {{ model_type }}</title>
    {% endif %}
{% endblock %}

{% block content %}
    <h2>
        {% if instance %}
            Editing {{ model_type }} <em>{{ instance }}</em>
        {% else %}
            New {{ model_type }}
        {% endif %}
    </h2>
    {% if related_instance and related_model_type %}
        <p>For {{ related_model_type }} <em>{{ related_instance }}</em></p>
    {% endif %}
    <br>
    <form method="post" {% if is_file_upload %} enctype="multipart/form-data" {% endif %}>
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <input type="submit" class="btn btn-primary"
                   value="{% if instance %} Save {% else %} Create {% endif %}">
        </p>
    </form>
{% endblock %}